.tabbar_cuttom{
    bottom: 0;
    left: 0;
    position: fixed;
    display: flex;
    width: 100vw;
    box-sizing: border-box;
    background-color: #fff;
    border-top: 1px solid #f0f0f0;
    padding: 10px 0;
    box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.1);
    * {
        font-size: 1.16em !important; 
        margin-bottom: 15px;
    }
    svg{
        font-size: 1.5em !important;
    }
    .grid-demo-item-block{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: #000;
        p{
            margin-top: 0;
        }
    }
    .active{
        color: #fb7701 !important;
    }
    .matic{
        color: #fff !important;
        border-radius: 50%;
        background: linear-gradient(to bottom, #fb7701, #3081ec);
        width: 5em;
        height: 5em;
        display: flex;
        position: relative;
        top: -40px;
        justify-content: center;
        align-items: center;
        p{
            margin: 0;
        }
    }
}


.content {
    height: 220px;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 48px;
    user-select: none;
    img{
        width: 100%;
        height: 100%;
    }
}